In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 

from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
import requests

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [4]:
data = pd.read_html(url, header= 0)

data = data[0]

In [5]:
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [12]:
data = data[data.Borough != 'Not assigned'] #Remove all boroughs with values of not assigned

data.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [13]:
# group all the neigborhoods that are in more than one postal code

data_groupb = data.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [14]:
# rename all not assigned neighborhoods to the name of the borough

for index, row in data_groupb.iterrows():
        if row.Neighbourhood == 'Not assigned':
            data_groupb.at[index,'Neighbourhood'] = data_groupb.at[index,'Borough']

In [42]:
data_groupb = data_groupb.rename(columns={'Postcode': 'Postal Code', 'Neighbourhood':'Neighborhood'}) # rename the columns to match Coursera

In [44]:
csvfile = pd.read_csv('Geospatial_Coordinates.csv')

In [45]:
csvfile.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [46]:
data_groupb.dtypes

PostalCode      object
Borough         object
Neighborhood    object
dtype: object

In [47]:
csvfile.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [51]:
# merge the data from the two dataframes noting how the column names are different on each

data_merged = pd.merge(data_groupb, csvfile, left_on = 'PostalCode', right_on = 'Postal Code', how = 'inner')

data_merged = data_merged.drop(columns=['Postal Code'])
              
data_merged.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476